
body{
    background-color: cornsilk;
    height: 100%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 23vw;
    height: 43vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
}
.cell{
    width: calc(23vw / 9);
    height: calc(45vw / 35);
    background-color: cornsilk;
    padding: 0;
    margin: 0;
}
.fill{
    background-color: rgb(139, 96, 74);
}
.fill2{
    background-color: aliceblue;
}
.round{
    transition: border-radius 0.2s linear;
}
.border{
    transition: background-color 0.2s linear;
}
.blue{
    transition: background-color 0.4s linear;
}
.dark-blue{
    transition: background-color 0.3s linear;
}

.container:hover .round{
    border-radius: 8px;
}
.container:hover .border{
    background-color: rgb(163, 112, 87);
}
.container:hover .blue{
    background-color: rgb(130, 165, 231);
}
.container:hover .dark-blue{
    background-color: rgb(85, 119, 182);
}