:root{
    --text-color: aliceblue;
    --heading-color: cornsilk;
    --font1: "keedy-sans", sans-serif;
    --text-size: clamp(8px, 5vw ,45px);
    --big-text-size: clamp(10px, 5.5vw ,50px);
    --margin-right: 35px;
    --margin-left: 30px;

}
body{
    background:linear-gradient(180deg, #C03A00 0%,  rgb(193.37, 171.94, 116.83) 40%);
    color: aliceblue;
    height: 100%;
    font-family: "keedy-sans", sans-serif;
    font-weight: 400;
    margin-left: 30px;
    transition: linear 1s;
}

h1{
    font-size: clamp(30px, 10vw ,100px);
    margin: 20px 0 0 20px;
    color:cornsilk;

}

h2{
    font-size: clamp(15px, 7vw, 70px);
    margin: 20px 0 10vh 20px;
    padding-bottom: 0;
}

p{
    font-size: var(--text-size);
    margin-bottom: 0;
    margin: 0;
    padding: 0;
}

.works-heading{
    font-size: var(--big-text-size);
}

.courses{
    display: flex;
    justify-content: space-between;
    color: #C03A00;
}
.box{
    background-color: var(--heading-color);
    padding: 2px 15px 2px 15px;
    border-radius: 20px;
}
.lab-title{
    margin-left: 20px;
    
}
.studio-title{
    margin-right: var(--margin-right);
}

ul{
    display: flex;
    flex-direction: column;
}

li{
    /*list-style-type: "\2605";*/
    list-style-type: none;
    font-size: 35px;
    margin-left: -15px;
    font-size: var(--text-size);
}
.single{
    margin-bottom: 20px;
}
.together{
    margin-bottom: 5px;
}
.studio{
    align-self: flex-end;
    margin-right: var(--margin-right);
    font-size: clamp(10px, 8vw ,52px);
}
a{
    color:aliceblue;
}